#timedate {
    font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    
    width: 50%;
    margin: 40px auto;
    color:#fff;
    border-left: 3px solid #ed1f24;
    padding: 20px;
    padding-right: 800px;
    font-size: 22px;

    
  }